In [ ]:
import numpy as np
a = [1,2,3]
b = [4,5,6]
hasil = a + b
print(hasil)

[1, 2, 3, 4, 5, 6]

In [ ]:
def add(list_a, list_b):
  result = []
  x = 0
  for first, second in zip(list_a,list_b):
    result.append(first + second)
  for i in result:
    x+=i
  return x
print(add(a,b))

21

In [ ]:
import numpy as np
nilai_siswa = np.array([85, 55, 40, 90])
print(nilai_siswa[3])

90

In [ ]:
import numpy as np
print(np.__version__)

2.0.2

In [ ]:
nama = input("Masukkan nama: ")
nim = input("Masukkan NIM: ")
print("Hello, World")
print("Nama saya", nama)
print("NIM saya", nim)

Masukkan nama: nadia
Masukkan NIM: 2024071004
Hello, World
Nama saya nadia
NIM saya 2024071004

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4
y = "Sally"
print(x)

4

In [ ]:
def getFirst(myList):
  return(myList[0])
getFirst([1,2,3])

1

Get Last

In [ ]:
my_list = [1, 2, 3]
panjang_list = len(my_list)
print(panjang_list)

get_last = my_list[len(my_list)-1]
print(get_last)

3
3

In [ ]:
Get First

In [ ]:
getFirst([1,2,3,4,5,6,7,8,9])

1

Get Second

In [ ]:
def getSecond(my_list):
  return(my_list[1])
getSecond([1,2,3])

2

Get Last

In [ ]:
def getLast(a):
    return a[len(a)-1]
list=[7,2,3,5,10]
getLast(list)

10

In [ ]:
def getSum(myList):
  #variable sum
  sum = 0
  for item in myList:
    sum = sum+item
  return sum
getSum([1,2,3])

#sum = 0
#sum ditambah oleh item yang ada pada myList
# 0+1+2+3
# hasilnya 6

6

In [ ]:
def getSubstract(myList):
  #variable substract
  substract = 0
  for item in myList:
    substract = substract-item
  return substract
getSubstract([1,2,3])

#substract = 0
#substract dikurangi oleh item yang ada pada myList
# 0-1-2-3
# hasilnya -6

-6

In [ ]:
def getMultiply(myList):
  #variable multiply
  multiply = 1
  for item in myList:
    multiply = multiply*item
  return multiply
getMultiply([1,2,3,4,5])

#multiply = 1
#multiply dikali oleh item yang ada pada myList
# 1x1x2x3x4x5
# hasilnya 120

120

In [ ]:
def getDivide(myList):
  #variable divide
  divide = 1
  for item in myList:
    divide = divide/item
  return divide
getDivide([1,2,5])

#divide = 1
#divide dibagi oleh item yang ada pada myList
# 1/1/2/5
# hasilnya 0.1

0.1

In [ ]:
def getSumHimpunan(myList):
  sum = 0
  for row in myList:
    for item in row:
      sum += item
  return sum
getSumHimpunan([[1,2,3],[10,20,30]])

#sum = 0
#sum ditambah oleh item setiap list
#list 1 berjumlah 6
#list 2 berjumlah 60
# 0+6+60
# 66

66

In [ ]:
def getDivideHimpunan(myList):
    results = []
    for row in myList:
        divide = row[0]
        for item in row[1:]:
            divide = divide / item
        results.append(divide)

    final = results[0]
    for val in results[1:]:
        final = final / val
    return final

getDivideHimpunan([[1,1,1],[1,2,5]])

#divide = row/list 1
#nilai divide akan dibagi oleh row selanjutnya / row 2
#List 1 berjumlah 1
#list 2 berjumlah 0.1
# 1/0.1
# 10

10.0

In [4]:
def getSubstractHimpunan(myList):
    results = []
    for row in myList:
        sub = row[0]
        for item in row[1:]:
            sub -= item
        results.append(sub)

    result = results[0]
    for val in results[1:]:
        result -= val
    return result

getSubstractHimpunan([[1,2,3],[10,20,30]])

#list 1 berjumlah 1-2-3 = -4
#list 2 berjumlah 10-20-30 = -40
# list1-list2
# -4-(-40)
# 36

36

In [5]:
def searchBinary(myList, item):
    first = 0
    last = len(myList) - 1
    foundFlag = False

    while first <= last and not foundFlag:
        mid = (first + last) // 2
        if myList[mid] == item:
            foundFlag = True
        else:
            if item < myList[mid]:
                last = mid - 1
            else:
                first = mid + 1
    return foundFlag
print(searchBinary([8, 9, 10, 100, 1000, 2000, 3000], 10))
print(searchBinary([8, 9, 10, 100, 1000, 2000, 3000], 5))

True
False